body{

}
.menu-container{
    width: 960px;
    margin: 0 auto;
    padding: 28px ,40px;
    display: flex;
    justify-content: space-between;
}

.menu-nav{
    width: 300px;
    display: flex;
    justify-content: space-between;
}