*{
    box-sizing: border-box;

}

body{
    margin: 0;
}

.contenedor-grande{
    height: 414px;
    background-color: red;
    margin: 0 auto;
}

.contenedor-interno{
   width: 50%;
   background-color:blanchedalmond;
   height: 126px;
}